extends layout

block content
  h1= title
  p Welcome to #{title}
  p This tool is based on the Slack to RSS code by @gozmike #[a(href="https://github.com/gozman/slack-rss")
  p Its been modified to process normal messages instead of links.
  